/*demo1*/
#J_Scroll1 {
    width: 500px;
    height: 200px;
}
#J_Scroll1.ZScroll-vertical {
    width: 150px;
    height: 500px;
}
#J_Scroll1 .ZScroll-item {
}
#J_Scroll1 .ZScroll-item a {
    display: block;
}
#J_Scroll1 .ZScroll-item img {
    vertical-align: top;
}

/*demo2*/
#J_Scroll2 {
    width: 500px;
    height: 200px;
}
#J_Scroll2.ZScroll-vertical {
    width: 150px;
    height: 500px;
}
#J_Scroll2 .ZScroll-item {
}
#J_Scroll2 .ZScroll-item a {
    display: block;
}
#J_Scroll2 .ZScroll-item img {
    vertical-align: top;
}

/*demo 3*/
#J_Scroll3 {
    width: 500px;
    height: 200px;
}
#J_Scroll3.ZScroll-vertical {
    width: 150px;
    height: 500px;
}
#J_Scroll3 .ZScroll-item {
}
#J_Scroll3 .ZScroll-item a {
    display: block;
}
#J_Scroll3 .ZScroll-item img {
    vertical-align: top;
}